body {
    font-family: 'Shippori Mincho B1', serif;
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 1504px;
    cursor:auto;
}


.navbar {
    background-color: #052032b7;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
}

header {
    max-width: 1504px;
    width: 100%;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
}

.img-box {
    width: 100%;
    position: relative;
    opacity: 0.9;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.shopImg {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    padding: 3rem;
    margin-top: 1rem;
    max-height: 100%;
    border-radius: 4rem;
}

.shopImg2 {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-height: 100%;
    border-radius: 0.7rem;
}

.borderImg {
    border-radius: 50%;
}

.title {
    position: absolute;
    z-index: 2;
    color: white;
    margin-left: 9rem;
    margin-top: 9rem;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    font-size: 3.8rem;
    text-align: left;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animation-box {
    width: 100%;
    height: 38rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.animation-container {
    width: 1000rem;
    height: 30rem;
}

.content {
    position: relative;
    text-align: center;
    height: 25vh;
    margin: 0;
}

.shop-intro {
    position: relative;
    display: inline-block;
    text-align: right;
    line-height: 3.5rem;
    padding: 2rem;
    margin-left: 51rem;
}

.shop-intro h2 {
    font-size: 3rem;
}

.shop-intro p {
    font-weight: 600;
}

section {
    margin-bottom: 3rem;
    height: 80vh;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.section1 {
    background-color: white;
}

.section2 {
    background-color: white;
    margin: 0;
    padding: 2.5rem;
    margin-left: 0.7rem;
}

.section3 {
    background-color: white;
}

table {
    border-collapse: collapse;
    margin-top: 1rem;
}

td, th {
    padding: 0.5rem;
    text-align: left;
    margin-top: 0.5rem;
}

caption {
    font-size: 0.8rem;
    padding: 0.5rem;
}
article {
    width: 100%;
    clear: both;
    overflow: auto;
}
aside {
    position: relative;
    bottom: 15rem;
    width: 53%;
    float: right;
    text-align: center;
    padding: 0;
}

aside p {
    line-height: 1.5rem;
}

.underline {
    text-decoration: underline;
}

a {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

a:hover {
    color: black;
}

.tea-list {
    padding: 1.1rem;
    line-height: 2.4;
    list-style-type:georgian;
}

footer {
    overflow: hidden;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    font-size: 0.9rem;
    color: black;
}
